.sidenav-container {
  height: 100%;
}

.sidenav {
  box-shadow: 3px 0 3px rgba(0, 0, 0, 24)
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer{
  flex: 1 1 auto;
  text-align: center;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration:  none;  
}

.sidenav{
  background:#f84d00;
}

.mat-toolbar-row, 
.mat-toolbar-single-row {
  color: white;
}

.mat-list-item {
  color: white;
}

.mat-toolbar.mat-primary {
  background:black;
}


#logout-button {
  color: white;
  background-color: #4b4b4b;
  border: 1px solid black;
}

.logo-nav{
  width: 82px;
  height: 60px;
  margin-left: 100px;
}

